
.title {
    font-family: 'Share Tech', sans-serif;    font-size: 3rem;
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #19195e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);*/
    /*animation: pulse 2s infinite ease-in-out;*/
    letter-spacing: 2px;
    margin-top: 40px;
}

.summonerSearch{
    position: relative;          /* Permet de positionner le cercle par rapport à ce conteneur */
    width: 400px;                /* Largeur fixe ou max-width selon ton design */
    margin: 0 auto;
}

.loadingCircle{
    position: absolute;
    right: -25px;                 /* Décalage depuis le bord droit du conteneur */
    top: 50%;
    transform: translateY(-100%); /* Centre verticalement par rapport à l’input */
    width: 20px;
    height: 20px;

}
