.summonerNameBox {
    position: relative;
    width: 25%;
    margin:0 auto;
}

.searchSummoner {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
}