.summonerNameBox {
    position: relative;

    width: 100%;                 /* Occupe toute la largeur du conteneur */
          /* Espace pour le cercle à droite */
    text-align: center;          /* Centre le texte dans l’input */


}

.searchSummoner {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
}